{% extends 'dating/base.html' %}


{% block content %}
<div class="container my-5">
    <div class="lead text-center mx-auto my-5">
        <h1>Welcome to Meet You</h1>
        <a href="{% url 'logout' %">Logout</a>
        {% if messages %}
        {% for message in messages %}
        <div {% if message.tags %} class="alert alert-danger alert-dismissible fade show" {% endif %}>
         <strong>{{message}}</strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-6 mx-auto text-center bg-dark">
                    <div id=demo class="carousel slide" data-ride=carousel>
                       <ul class=carousel-indicators>
                       <li data-target=#demo data-slide-to=0 class=active></li>
                       <li data-target=#demo data-slide-to=1></li>
                       <li data-target=#demo data-slide-to=2></li>
                       </ul>
                 
                       <div class=carousel-inner>
                          {% for fm in user_data %}
                       <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                       <img src="{{fm.dp.url}}" style="height: 90vh; object-fit: contain;" class="d-block w-100">
                       <div class="carousel-caption"> 
                          <h5> <span class="badge badge-dark">{{fm.user.first_name}} {{fm.user.last_name}}</span>, <span class="badge badge-warning">{{fm.age}}</span></h5>
                          <h5 class="badge badge-dark">{{fm.bio}}</h5> <br>
                          <h5 class="badge badge-warning">{{fm.interest}}</h5>
                       </div>
                       </div>
                       {% endfor %}
                 
                    
                       </div>
                       <a class=carousel-control-prev href=#demo data-slide=prev>
                       <span class=carousel-control-prev-icon></span>
                       </a>
                       <a class=carousel-control-next href=#demo data-slide=next>
                       <span class=carousel-control-next-icon></span>
                       </a>
                       </div>
        </div>
     </div>
</div>
{% endblock content %}