{% extends 'dating/base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col">
            <form method="POST" action="">
                {% csrf_token %}
                      <div class="form-group m-3">
                          <label><strong>Interest</strong></label>
                          <input required name="interest" type="text" placeholder="Enter your interest" class="form-control">
                        </div>
                <button type="submit" class="btn btn-primary m-3">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}